.idea/.name
.idea/artifacts/
.idea/compiler.xml
.idea/copyright/
.idea/description.html
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/vcs.xml
.idea/workspace.xml
META-INF/
Multipass.iml
target/
